#root {
  max-width: 1280px;
  padding: 1rem;
  text-align: center;
  width: 100%;
  color: black;
}

input {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 2% 0;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 1.5rem;

  -webkit-appearance: none;
  -moz-appearance: none;
}

input:hover {
  border: 1px solid black;
  transition: 0.5s;
}

#name {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
}

#name:hover {
  border-bottom: 1px solid transparent;
  transition: 0.5s;
}

#contact {
  margin-top: 0.2rem;
  display: flex;
}

#contact > input {
  color: hsl(0, 0%, 50%);
  font-weight: normal;
  font-size: 0.6rem;
  text-wrap: wrap;
}

.education-section,
.section {
  font-size: 0.8rem;

  grid-template-columns: 1.5fr 0.1fr 1.5fr;
  gap: 0.5rem;
}

.education-section input,
.section input {
  font-size: 0.8rem;
}

.company-position input {
  text-align: left;
}

.title,
.title > input {
  font-size: 0.8rem;
}

.title {
  display: grid;
  grid-template-areas: "moveSectionDown moveSectionUp title removeBtn";
  grid-template-columns: auto auto 1fr auto;
  place-items: center;
  /* border: 1px solid red; */
}

.title > input {
  grid-area: title;
}

#education > .title {
  display: block;
}

#education,
.section-container,
#skills-interests {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.8rem;
  margin-bottom: 2rem;
}

.addNewPoint {
  margin-top: 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0%;
  border: none;
  color: grey;
}

.addNewPoint:disabled {
  opacity: 0.3;
}

.moveSectionDown,
.moveSectionUp {
  color: grey;
}

.move-section {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  border: 1px solid lightgray;
  background-color: lightgray;
  width: fit-content;
  padding: 0.2rem;
  border-radius: 0.5rem;
}
