.education-section {
  display: grid;
  grid-template-areas:
    "institution . locationGraduationDate"
    "content content content"
    "addMore addMore addMore";

  border: 1px solid red;
}

.institution {
  grid-area: institution;
  text-align: left;
}

.location-graduationDate {
  grid-area: locationGraduationDate;
  text-align: right;
}

.institution,
.location-graduationDate {
  font-weight: bold;
}
