.education-section {
  display: grid;
  grid-template-areas:
    "institution . locationGraduationDate"
    "content content content"
    "remove remove remove";
}

.institution {
  grid-area: institution;
  text-align: left;
}

.location-graduationDate {
  grid-area: locationGraduationDate;
  text-align: right;
}

.institution,
.location-graduationDate {
  font-weight: bold;
}

.removeBtn {
  grid-area: remove;
  padding: 0.2rem 0;
  margin-top: 0.5rem;
  background-color: hsl(0, 80%, 50%);
  color: white;
  font-weight: bold;
  border-radius: 1rem;
  border: 1px solid transparent;
  filter: brightness(0.8);
  transition: 0.3s;
}

.removeBtn:hover {
  filter: brightness(1.2);
  transition: 0.3s;
}

.removeBtn:focus {
  border: 1px solid transparent;
  outline: none;
}

.education-section ~ .education-section {
  margin-top: 1rem;
}
