.section {
  display: grid;
  grid-template-areas:
    "orgPos . locationDuration"
    "content content content"
    "remove remove remove";

  /* border: 1px solid red; */
  font-size: 1rem;
}

.title,
.organisation-position,
.location-duration {
  font-weight: bold;
}

.title > input {
  padding: 1% 0;
  width: auto;
}

.organisation-position {
  grid-area: orgPos;
}

.location-duration {
  grid-area: locationDuration;
  text-align: right;
}

.content {
  grid-area: content;
}

.content > ul {
  padding-inline-start: 20px;
  text-align: left;
}

.organisation-position > div {
  text-align: left;
}

.duration {
  display: flex;
  justify-content: flex-end;
  gap: 2%;
}

.addMore {
  background-color: grey;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
}

.addNewSection {
  align-self: center;
  border: none;
  background-color: white;
  padding: 0;

  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.addNewSection > svg {
  font-size: 3rem;
  text-align: center;
  color: grey;
}

.removeSection,
.moveSectionDown,
.moveSectionUp {
  font-size: 1.2rem;
  color: red;
  justify-self: end;
  grid-area: removeBtn;
  padding: 0;
  border-radius: 50%;
  border: transparent;

  display: flex;
  justify-content: center;
}
