.section {
  display: grid;
  grid-template-areas:
    "orgPos . locationDuration"
    "content content content"
    "remove remove remove";

  border: 1px solid red;
  font-size: 1rem;
}

.title,
.organisation-position,
.location-duration {
  font-weight: bold;
}

.title > input {
  padding: 1% 0;
}

.organisation-position {
  grid-area: orgPos;
}

.location-duration {
  grid-area: locationDuration;
  text-align: right;
}

.content {
  grid-area: content;
}

.content > ul {
  padding-inline-start: 20px;
  text-align: left;
}

.organisation-position > div {
  text-align: left;
}

.duration {
  display: flex;
  justify-content: flex-end;
  gap: 2%;
}

.addMore {
  margin-bottom: 1rem;
}
